<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,400italic' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="EXPIRES" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="authors" content="Pedro Olivença" />
    <meta name="owner" content="Pedro Olivença" />
    <meta name="title" content="Geckoboard Challenge" />
    <meta property="description" content="Geckoboard Challenge" />
    <link rel="icon" href="Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon" />
    <title>Geckoboard Challenge</title>
    <meta name="description" content="KPI dashboards from Geckoboard - Communicate the metrics that matter across your business" />
    <meta property="og:title" content="Geckoboard Challenge" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.geckoboard.com/" />
    <meta property="og:image" content="https://www.geckoboard.com/assets/png/geckoboard-learn.png" />
    <meta property="og:description" content="Get to know Geckoboard: Communicate your most important KPIs across your business." />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Home ">
    <meta name="twitter:description" content="Get to know Geckoboard: Communicate your most important KPIs across your business.">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="https://www.geckoboard.com/assets/png/geckoboard-learn.png">
    <script src="Scripts/Vendor/jquery-2.1.4.js"></script>
    <script src="Scripts/Vendor/jquery-ui-1.11.4.js"></script>
    <script src="Scripts/Vendor/nicescroll.js"></script>
    <script src="Scripts/Plugins/AlertsToaster/1.1.0/ec_alertstoaster.js"></script>

    <script src="App/angular.1.3.16.js"></script>
    <script src="App/angular-resource.js"></script>
    <script src="App/app.module.js"></script>
    <script src="App/Search/search.js"></script>
    <link href="Styles/Main.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="SearchCtrl as vm">
    <header>
        <div class="Header">
            <div class="container">
                <div class="grid-wrpp">
                    <div class="col-4 col-12-md">
                        <h4><i class="icon-github"></i>&nbsp;<span>Popular Repositories</span></h4>
                    </div>
                    <div class="col-4 col-6-md">
                        <div class="form-block" ng-class="{'active': vm.focus}">
                            <input type="text" ng-model="vm.user" ng-focus="vm.setFocus()" ng-blur="vm.setBlur()" />
                            <label>search by user login</label>
                        </div>
                    </div>
                    <div class="col-4 col-6-md col-invert">
                        <div class="user-wrpp">
                            <div class="img"><img ng-src="{{vm.avatar}}" /></div>
                            <span>{{vm.username}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="Main">
        <div class="Content">
            <div class="container">
                <div class="grid-wrpp">
                    <div class="List" ng-show="!vm.seeDetails">
                        <div class="list-item" ng-repeat="block in vm.feeds | orderBy: '-stargazers_count' | limitTo: 20">
                            <div result-section block="block" on-click="vm.onClick(block)"></div>
                        </div>
                    </div>
                    <div class="details" ng-if="vm.seeDetails">
                        <p>title</p>
                        <p>description</p>
                        <p>created: <span></span></p>
                        <a href="" target="_blank">repo url</a>
                        <br />
                        <a href="" class="btn">back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
